Repository eventespresso/eea-recurring-events-manager, pull requests merged in 2020-07, with the labels that each got.

#15 Create GQL schema
  src/domain/RecurringEventsManager.php
  src/domain/entities/admin/GraphQLData/Recurrences.php
  src/domain/services/graphql/connection_resolvers/RecurrenceConnectionResolver.php
  src/domain/services/graphql/connections/RootQueryRecurrencesConnection.php
  src/domain/services/graphql/data/domains/EspressoEditor.php
  src/domain/services/graphql/data/loaders/RecurrenceLoader.php
  src/domain/services/graphql/data/mutations/RecurrenceMutation.php
  src/domain/services/graphql/mutators/RecurrenceCreate.php
  src/domain/services/graphql/mutators/RecurrenceDelete.php
  src/domain/services/graphql/mutators/RecurrenceUpdate.php
  src/domain/services/graphql/types/Recurrence.php
Labels: category:models-and-data-infrastructure

#17 Update Models and Entity Classes
  LICENSE
  eea-recurring-events-bootstrap.php
  eea-recurring-events-manager.php
  src/domain/RecurringEventsManager.php
  src/domain/entities/RecurringDatetime.php
  src/domain/entities/db_class_extensions/EEE_Recurrence_Datetime.class_ext.php
  src/domain/entities/db_classes/EE_Datetime_Recurrence.php
  src/domain/entities/db_classes/EE_Recurrence.class.php
  src/domain/entities/db_model_extensions/EEME_Recurrence_Datetime.model_ext.php
  src/domain/entities/db_models/EEM_Datetime_Recurrence.model.php
  src/domain/entities/db_models/EEM_Recurrence.model.php
  src/domain/services/data_migration_scripts/EE_DMS_Recurring_Events_1_0_0.dms.php
  src/ui/admin/RecurringEventsAdmin.php
  src/ui/admin/RecurringEventsAdminUpdate.php
Labels: REM, category:models-and-data-infrastructure, status:review, type:task ✅

#20 Bug fixes
  eea-recurring-events-bootstrap.php
  src/domain/services/graphql/connection_resolvers/RecurrenceConnectionResolver.php
Labels: status:triage
