Repository eventespresso/eea-recurring-events-manager, pull requests merged in 2020-09, with the labels that each got.

#24 Load Barista Built Assets
  .eslintignore
  .eslintrc.json
  .nvmrc
  .prettierrc
  .travis.yml
  babel.config.js
  bin/i18n-map-extractor.js
  circle.yml
  config/env.js
  config/getHttpsConfig.js
  config/jest/__mocks__/fileMock.js
  config/jest/cssTransform.js
  config/jest/fileTransform.js
  config/jest/setupTests.ts
  config/modules.js
  config/paths.js
  config/pnpTs.js
  config/resolve-tsconfig-path-to-webpack-alias.js
  config/webpack.config.js
  config/webpackDevServer.config.js
  docs/GraphQL-API/README.md
  docs/GraphQL-API/mutations/recurrence.md
  docs/GraphQL-API/query/recurrence.md
  eea-recurring-events-bootstrap.php
  js-green-licenses.json
  package.json
  postcss.config.js
  scripts/build.js
  scripts/start.js
  scripts/test.js
  scripts/watch.js
  src/domain/Domain.php
  src/domain/RecurringEventsManager.php
  src/domain/entities/admin/GraphQLData/Recurrences.php
  src/domain/entities/db_class_extensions/EEE_Recurrence_Datetime.class_ext.php
  src/domain/entities/db_classes/EE_Recurrence.class.php
  src/domain/entities/db_model_extensions/EEME_Recurrence_Datetime.model_ext.php
  src/domain/entities/db_models/EEM_Recurrence.model.php
  src/domain/services/assets/RecurringEventsAssetManager.php
  src/domain/services/data_migration_scripts/EE_DMS_Recurring_Events_1_0_0.dms.php
  src/domain/services/graphql/RegisterSchema.php
  src/domain/services/graphql/connection_resolvers/RecurrenceConnectionResolver.php
  src/domain/services/graphql/connections/RootQueryRecurrencesConnection.php
  src/domain/services/graphql/data/domains/EspressoEditor.php
  src/domain/services/graphql/data/loaders/RecurrenceLoader.php
  src/domain/services/graphql/data/mutations/RecurrenceMutation.php
  src/domain/services/graphql/mutators/RecurrenceCreate.php
  src/domain/services/graphql/mutators/RecurrenceDelete.php
  src/domain/services/graphql/mutators/RecurrenceUpdate.php
  src/domain/services/graphql/types/Recurrence.php
  src/domain/services/modules/EED_Recurring_Events.module.php
  src/ui/admin/AddNewEventModal.php
  src/ui/admin/RecurringEventsAdmin.php
  src/ui/admin/RecurringEventsAdminUpdate.php
  src/ui/js/add_new_event_modal.js
  tests/javascript-config/babel-transform.js
  tests/javascript-config/i18n.js
  tests/javascript-config/jest.config.json
  tsconfig.json
  yarn.lock
Labels: REM, category:assets, status:review, type:enhancement 🎉

#26 Config, Admin, and UI for Frontend Event Dates Lists
  assets/ee-rem-dates-list.css
  domain/Domain.php
  domain/RecurringEventsManager.php
  domain/entities/admin/RecurringEventsTemplateSettingsForm.php
  domain/entities/config/RecurringEventsConfig.php
  domain/services/admin/RecurringEventsTemplateSettingsFormHandler.php
  domain/services/assets/RecurringEventsAssetManager.php
  domain/services/modules/EED_Recurring_Events.module.php
  domain/ui/rem-dates-list-datetime.php
  eea-recurring-events-bootstrap.php
Labels: category:admin-page-ui-&-ux, category:forms-systems, category:frontend-ui-&-ux, status:review, type:enhancement 🎉

#27 Add NK deployment workflow
  .github/workflows/deploy-to-nk.yml
Labels: type:build-process 🔨, type:task ✅
